<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Session Configuration -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <!-- Servlet Mappings -->
    <servlet>
        <servlet-name>RootServlet</servlet-name>
        <servlet-class>com.project4.servlets.RootServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ClientServlet</servlet-name>
        <servlet-class>com.project4.servlets.ClientServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AccountantServlet</servlet-name>
        <servlet-class>com.project4.servlets.AccountantServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DataEntryServlet</servlet-name>
        <servlet-class>com.project4.servlets.DataEntryServlet</servlet-class>
    </servlet>

    <!-- Filter for Authentication -->
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.project4.filters.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/root/*</url-pattern>
        <url-pattern>/client/*</url-pattern>
        <url-pattern>/accountant/*</url-pattern>
        <url-pattern>/dataentry/*</url-pattern>
    </filter-mapping>

    <!-- Public Resources -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Public Resources</web-resource-name>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/authenticate</url-pattern>
            <url-pattern>/logout</url-pattern>
            <url-pattern>/css/*</url-pattern>
            <url-pattern>/js/*</url-pattern>
        </web-resource-collection>
    </security-constraint>

</web-app>
